services:
  db:
    image: postgres:15
    networks:
      rede_estoque_django:
        ipv4_address: 10.0.0.20          
    container_name: estoque_db_django
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    networks:
      rede_estoque_django:
        ipv4_address: 10.0.0.10
    container_name: estoque_web_django
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8080:8000"
    env_file:
      - .env
    depends_on:
      - db

networks:
  rede_estoque_django:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24

volumes:
  postgres_data:
